*{
    box-sizing: border-box;
}

body{
    background: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 28px;
    max-width: 210px;

    line-height: 1.6;
}

h1 {
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 40px;
    color: hsl(0, 0%, 95%);
    margin: 30px 0 0 0;
    text-transform: uppercase;
}

button{
    border-radius: 50px;
    width: 150px;
    height: 50px;

    font-size: 17px;
    margin-top: 65px;
}

img{
    width: 62px;
    height: auto;

    margin: 10px 0 0 0;
}

@media (min-width: 375px) and (max-width: 1440px){
    .container{
        margin: 100px auto;

        width: 330px;

        border-radius: 15px;
        overflow: hidden;
    }
    
    section{
        height: 343;
        width: 330px;
        padding: 43px;
    }

}

@media (min-width: 1440px){
   .container{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        column-count: 3;
        column-gap: 0px;



        width: 920px;
        height: 500px;
        border-radius: 15px;
        overflow: hidden;
    }

    section{
        height: 100%;
        width: 310px;
        padding: 43px;
    } 
}


/* Sedans */
#sedans{
    background-color: hsl(31, 77%, 52%);
}

#sedans button{
    background-color: hsl(0, 0%, 95%);
    border: none;
    color:hsl(31, 77%, 52%);
}

#sedans button:hover{
    background-color: hsl(31, 77%, 52%);
    color:hsl(0, 0%, 95%);

    border: 3px solid hsl(0, 0%, 95%);
}

/* SUVs */
#SUVs{
    background-color: hsl(184, 100%, 22%);
}

#SUVs button{
    background-color: hsl(0, 0%, 95%);
    border: none;
    color:hsl(184, 100%, 22%);
}

#SUVs button:hover{
    background-color: hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%);

    border: 3px solid hsl(0, 0%, 95%);
}

/* Luxury */
#luxury{
    background-color: hsl(179, 100%, 13%);
}

#luxury button{
    background-color: hsl(0, 0%, 95%);
    border: none;
    color:hsl(179, 100%, 13%);
}

#luxury button:hover{
    background-color: hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%);

    border: 3px solid hsl(0, 0%, 95%);
}

